{% extends 'base.html.twig' %}

{% if form is not null %}
    {% form_theme form 'tailwind_2_layout.html.twig' %}
{% endif %}

{% block body %}

    {% if form is not null %}
        {% set Form %}
            {{ form_start(form, {
                attr: {
                    class: 'flex flex-col'
                }
            }) }}

            {% for type, messages in app.flashes %}
                <div class="{{ type == 'notice' ? 'text-green-500 ' : 'text-red-500 '}} my-10 p-5 bg-theme-accent-1 rounded-xl min-h-[100px] min-w-full flex flex-wrap self-center align-center text-center w-fit">
                    <ul class="w-full flex flex-col justify-center">
                        {% for message in messages %}
                            <li class="mb-2 font-semibold">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <div class="flex flex-col w-full mb-8">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="flex flex-col w-full mb-8">
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="flex flex-col w-full mb-8">
                {{ form_widget(form.details) }}
                {{ form_errors(form.details) }}
            </div>

            <div class="flex flex-col w-full mb-8">
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>

            {{ form_row(form.submit) }}

            {{ form_end(form) }}
        {% endset %}
    {% else %}
        {% set Form = null %}
    {% endif %}

    {% if path is not defined %}
        {% set path = null %}
    {% endif %}

    {% dump(app.session.get('lang')) %}

    <div {{ react_component('Layout', {
        form: Form,
        path: path,
        lang: app.request.session.get('lang')
    }) }} >
        <div class="flex max-w-screen flex-col flex-wrap content-center justify-center w-screen h-screen">
            <twig:Spinner />
        </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{app.request.locale}}" async defer></script>
{% endblock %}
