<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ asset('assets/images/thumbnail.png', 'vite') }}">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="1024">
        <title>{% block title %}Levy Nkeneng - Web Developer{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon/favicon-96x96.png', 'vite') }}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/images/favicon/favicon.svg', 'vite') }}" />
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon/favicon.ico', 'vite') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicon/apple-touch-icon.png', 'vite') }}" />
        <meta name="apple-mobile-web-app-title" content="Levy Nkeneng - Portfolio" />
        <link rel="manifest" href="{{ asset('assets/images/favicon/site.webmanifest', 'vite') }}" />
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app', {
                dependency: 'react'
            }) }}
        {% endblock %}
    </head>
    <body class="bg-theme-accent-1 max-w-screen">
        {% block body %}
        {% endblock %}
    </body>
</html>
