<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Levy Nkeneng - Web Developer{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon/favicon-96x96.png', 'vite') }}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/images/favicon/favicon.svg', 'vite') }}" />
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon/favicon.ico', 'vite') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicon/apple-touch-icon.png', 'vite') }}" />
        <meta name="apple-mobile-web-app-title" content="Levy Nkeneng - Portfolio" />
        <link rel="manifest" href="{{ asset('assets/images/favicon/site.webmanifest', 'vite') }}" />
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app', {
                dependency: 'react'
            }) }}
        {% endblock %}
    </head>
    <body class="bg-theme-accent-1">

        <div {{ react_component('Layout') }} >
            <div class="flex flex-col flex-wrap content-center justify-center w-screen h-screen">
                <twig:Spinner />
            </div>
        </div>

        {% block body %}
        {% endblock %}
    </body>
</html>
